{% extends 'studentMan/base.html' %}
{% load static %}
{% block content %}
    <h3 class="label">Danh sách lớp của học sinh</h3>
    <div class="card card-body shadow-lg">
    <form method="get" class="main_form-header row">
            {% csrf_token %}
            <div class="main_form_class col-lg-3">
                <div class="row">
                    <div class="main_form_title col-lg-3">
                        <p>Lớp</p>
                    </div>
                    <div class="main_form_select col-lg-6">
                        {{classFilter.form.classOfSchool}}
                    </div>
                </div>
            </div>
            <div class="main_form_class col-lg-4">
                <div class="row">
                    <div class="main_form_title col-lg-5">
                        <p>Niên khóa</p>
                    </div>
                    <div class="main_form_select col-lg-6">
                        {{classFilter.form.year}}
                    </div>
                </div>
            </div>
            <div class="main_form_term col-lg-2">
                <div class="row">
                    <button type="submit" class="btn btn-outline-primary col-lg-11">Xem kết quả</button>
                </div>
            </div>
        </form>
        <table class="table table-sm">
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Email</th>
                <th>Địa chỉ</th>
            </tr>
            {% for student in resultStd %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{student.user.name}}</td>
                    <td>{{student.user.dateOfBirth}}</td>
                    {%if student.user.sex == '1'%}
                        <td>Nam</td>
                    {%else%}
                        <td>Nữ</td>
                    {%endif%}
                    <td>{{student.user.email}}</td>
                    <td>{{student.user.address}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <br>
{% endblock content %}

{% block custom_js %}
    <script>
        document.getElementById("class_select").value = "{{current_class}}"
        document.getElementById("subject_select").value = "{{ subject }}"
        document.getElementById("semester_select").value = "{{ semester }}"
        document.getElementById("year_select").value = "{{ year }}"
        function getNewViews() {
            var e = document.getElementById("class_select");
            var classSelected = e.options[e.selectedIndex].text;
            var semesters = document.getElementById("semester_select");
            var semester = semesters.options[semesters.selectedIndex].text;
            var years = document.getElementById("year_select");
            var year = years.options[years.selectedIndex].text;
            var subjects = document.getElementById("subject_select");
            var subject = subjects.options[subjects.selectedIndex].text;
            window.location.href = {% url 'baoCaoMH' %} +classSelected + "/" + subject + "/" + semester + "/" + year;
        }

        btn = document.getElementById("search");
        btn.addEventListener("click", (e) => {
            e.preventDefault();
            getNewViews();
        })
    </script>

{% endblock custom_js %}