.active {
    position: relative;
    background-color: #666666;
}

.active .wrap,
.active section {
    display: none;
}


.active .add_report {
    display: block;
}

.add_report {
    width: 80%;
    top: 10px;
    position: absolute;
    z-index: 0;
    background-color: white;
    display: none;
    border-radius: 5px;
    left: 10%;
}

.label {
    color: #5666a1;
    margin-top: 20px;
    margin-bottom: 20px !important;
}

.child_label {
    font-size: 20px;
}

.select_semester {
    width: 80px;
    height: 25px;
}

.one_attribute {
    margin-left: 12px;
    height: 30px;
    margin-bottom: 10px;
}

.form_detail {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form_detail tr {
    display: flex;
    justify-content: left;
    width: 100%;
}

.form_detail tr:nth-child(even) {
    background-color: white;
}

.form_detail tr td,
.form_detail tr th {
    padding: 0;
}

.stt {
    width: 12%;
}

.form_input {
    display: block;
    width: 22%;
}

.form_input > input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}

.add_btns {
    display: flex;
    float: right;
    margin-bottom: 10px;
}

.add_btns > button {
    margin-right: 10px;
}
