{% load static %}

<aside>
    <!-- Brand Logo -->
    <div class="sidebar-header">
        <a href="{% url 'admin_home' %}" class="brand-link">
            <h4 class="">Quản lí học sinh</h4>
        </a>
    </div>

    <!-- Sidebar Menu -->
    <nav>
        <ul class="list-unstyled components">
            <li>
                {% url 'admin_home' as admin_home %}
                <a href="{{admin_home}}" class="{% if admin_home == request.path %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <span>
                        Trang chủ
                    </span>
                </a>
            </li>

            <div class="sidebar-content"><p>Tài khoản</p></div>

            <li>
                <a href="#accountSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="nav-icon fas fa-th"></i>
                    <span>
                        Thêm tài khoản
                    </span>
                </a>
                <ul class="collapse list-unstyled" id="accountSubmenu">
                    <li>
                        {% url 'tiepNhanHS' as tiep_nhan_hoc_sinh %}
                        <a href="{{tiep_nhan_hoc_sinh}}" class="{% if tiep_nhan_hoc_sinh == request.path %} active {% endif %}">Học sinh</a>
                    </li>
                    <li>
                        {% url 'themGV' as them_tk_GV %}
                        <a href="{{them_tk_GV}}" class="{% if them_tk_GV == request.path %} active {% endif %}">Giáo viên</a>
                    </li>
                    <li>
                        {% url 'themAdmin' as them_tk_Admin %}
                        <a href="{{them_tk_Admin}}" class="{% if them_tk_Admin == request.path %} active {% endif %}">Admin</a>
                    </li>
                </ul>
            </li>

            <li>
                {% url 'admin_notify_staff' as admin_notify_staff %}
                <a href="{{admin_notify_staff}}" class="{% if admin_notify_staff == request.path %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <span>
                        Hệ thống
                    </span>
                </a>
            </li>

            <div class="sidebar-content"><p>Thông tin/Điểm</p></div>

            <li>
                {% url 'dsLop' as dsLop %}
                <a href="{{dsLop}}" class="{% if dsLop == request.path %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <span>
                        Danh sách lớp
                    </span>
                </a>
            </li>
            
            <li>
                {% url 'traCuu' as tra_cuu_hoc_sinh %}
                <a href="{{tra_cuu_hoc_sinh}}" class="{% if tra_cuu_hoc_sinh == request.path %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <span>
                        Tra cứu học sinh
                    </span>
                </a>
            </li>

            <li>
                {% url 'bangDiem' as bangDiem %}
                <a href="{{bangDiem}}"
                    class="{% if bangDiem == request.path %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <span>
                        Bảng điểm
                    </span>
                </a>
            </li>

            <li>
                <a href="#summarySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="nav-icon fas fa-th"></i>
                    <span>
                        Bảng tổng kết
                    </span>
                </a>
                <ul class="collapse list-unstyled" id="summarySubmenu">
                    <li>
                        {% url 'baoCaoMonHoc' as mon_hoc %}
                        <a href="{{mon_hoc}}" class="{% if mon_hoc == request.path %} active {% endif %}">Môn học</a>
                    </li>
                    <li>
                        {% url 'baoCaoHocKi' as hoc_ki %}
                        <a href="{{hoc_ki}}" class="{% if hoc_ki == request.path %} active {% endif %}">Học kì</a>
                    </li>
                </ul>
            </li>
            
            <div class="sidebar-content"><p>Qui định</p></div>

            <li class="nav-item">
                {% url 'quanLiTuoi' as quan_li_do_tuoi %}
                <a href="{{quan_li_do_tuoi}}"
                    class="{% if quan_li_do_tuoi == request.path%} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <span>
                        Độ tuổi
                    </span>
                </a>
            </li>
            
            <li class="nav-item">
                {% url 'quanLiLop' as quan_li_lop_hoc %}
                <a href="{{quan_li_lop_hoc}}" class="{% if quan_li_lop_hoc == request.path %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <span>
                        Lớp học
                    </span>
                </a>
            </li>

            <li class="nav-item">
                {% url 'quanLiMon' as quan_li_mon_hoc %}
                <a href="{{quan_li_mon_hoc}}"
                    class="{% if quan_li_mon_hoc == request.path %} active {% endif %}">
                    <i class="nav-icon fas fa-th"></i>
                    <span>
                        Môn học
                    </span>
                </a>
            </li>
        <li>
            <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>
        </li>
        </ul>
    </nav>
</aside>

