{% load static %}
<aside class="">
    <!-- Brand Logo -->
    <a href="{% url 'admin_home' %}" class="brand-link">
        <span class="">Admin Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    {% url 'admin_home' as admin_home %}
                    <a href="{{admin_home}}" class="nav-link {% if admin_home == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Trang chủ
                        </p>
                    </a>
                </li>

                <div class="content" style='color: #fff;'><p>Tài khoản</p></div>

                <li class="nav-item">
                    {% url 'admin_view_profile' as admin_view_profile %}
                    <a href="{{admin_view_profile}}" class="nav-link {% if admin_view_profile == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Thêm tài khoản
                        </p>
                    </a>
                </li>
                
                <li class="nav-item">
                    {% url 'admin_notify_staff' as admin_notify_staff %}
                    <a href="{{admin_notify_staff}}" class="nav-link {% if admin_notify_staff == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Hệ thống
                        </p>
                    </a>
                </li>
 
                <div class="content" style='color: #fff;'><p>Thông tin/Điểm</p></div>

                <li class="nav-item">
                    {% url 'admin_notify_student' as admin_notify_student %}
                    <a href="{{admin_notify_student}}" class="nav-link {% if admin_notify_student == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Danh sách lớp
                        </p>
                    </a>
                </li>
                
                <li class="nav-item">
                    {% url 'add_staff' as add_staff %}
                    <a href="{{add_staff}}" class="nav-link {% if add_staff == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Tra cứu học sinh
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'manage_staff' as manage_staff %}
                    {% url 'edit_staff' staff_id as edit_staff %}
                    <a href="{{manage_staff}}"
                        class="nav-link {% if manage_staff == request.path or request.path == edit_staff %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Bảng điểm
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'add_student' as add_student%}
                    <a href="{{add_student}}" class="nav-link  {% if add_student == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Bảng tổng kết
                        </p>
                    </a>
                </li>

                <div class="content" style='color: #fff;'><p>Qui định</p></div>

                <li class="nav-item">
                    {% url 'manage_student' as manage_student %}
                    {% url 'edit_student' student_id as edit_student %}
                    <a href="{{manage_student}}"
                        class="nav-link  {% if edit_student == request.path or manage_student == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Độ tuổi
                        </p>
                    </a>
                </li>
                
                <li class="nav-item">
                    {% url 'add_course' as add_course %}
                    <a href="{{add_course}}" class="nav-link  {% if add_course == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Lớp học
                        </p>
                    </a>
                </li>

                <li class="nav-item">
                    {% url 'manage_course' as manage_course %}
                    {% url 'edit_course' course_id as edit_course %}
                    <a href="{{manage_course}}"
                        class="nav-link  {% if edit_course == request.path or manage_course == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Môn học
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>