<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đăng ký lớp học</title>
    <style>
        table{
            border-collapse: collapse;
            border-spacing: 0;
        }
        th, td{
            padding: 10px 20px;
            border: 1px solid #000;
        }
        .button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
    </style>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div
  class="bg-image"
  style="
    background-image: linear-gradient(lightgreen,lightseagreen);
    height: 100vh;
  "
>
    <center>
        <div class="container">
        <div class="row">
            <div class="col-sm  bg-light border  order-1">
    <form>
        <h1>Lập danh sách lớp</h1>
        Lớp<br>
        <input type="text" name="txtLop">
        <br>
        Sĩ số<br>
        <input type="text" name="txtSiSo">
        <br><br>
        <input type="submit" value="Đăng ký" class="button">
    </form>
                </div>
            <br>
        <div class="col-sm  bg-light border  order-2">
        <div class="main_form_select col l-6">
                                    <select class="form-control" id="haveclass?" onchange=update()>
                                          <option>Học sinh có lớp</option>
                                          <option>Học sinh chưa có lớp</option>
                                    </select>
                                </div>
        <br>
        <table border="1" cellspacing=0 id="table" class="table table-hover" >
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Lớp</th>
                <th>Giới tính</th>
                <th>Năm sinh</th>
                <th>Địa chỉ</th>
            </tr>
        </table>
        </div>
            </div>
        </div>
        </center>
        </div>
        <script language="javascript">

            var data1 = [
        { STT: '1', hoten: 'Nguyễn Minh Tú',lop:"12A1",gioitinh:"Nam",namsinh:"2001",diachi:"100 Quang Trung"},
                { STT: '2', hoten: 'Nguyễn Minh Hùng',lop:"12A2",gioitinh:"Nam",namsinh:"2001",diachi:"105 Quang Trung"}
]
            var data2 = [
        { STT: '3', hoten: 'Lê Thị Thu',lop:"Chưa có",gioitinh:"Nữ",namsinh:"1999",diachi:"50 Quang Trung"}
]
            function insertDatatoTable(data){
                for(var i=0;i<data.length;i++) {
                                var stt=data[i]["STT"];
                                var hoten=data[i]["hoten"];
                                var lop=data[i]["lop"];
                                var gioitinh=data[i]["gioitinh"];
                                var namsinh=data[i]["namsinh"];
                                var diachi=data[i]["diachi"];

                                var table=document.getElementsByTagName("table")[0];

                                var newRow=table.insertRow(table.rows.length);
                                var cell1=newRow.insertCell(0);
                                var cell2=newRow.insertCell(1);
                                var cell3=newRow.insertCell(2);
                                var cell4=newRow.insertCell(3);
                                var cell5=newRow.insertCell(4);
                                var cell6=newRow.insertCell(5);

                                cell1.innerHTML=stt;
                                cell2.innerHTML=hoten;
                                cell3.innerHTML=lop;
                                cell4.innerHTML=gioitinh;
                                cell5.innerHTML=namsinh;
                                cell6.innerHTML=diachi;
                            }
            }
            function DeleteCurTable()
            {
                var table=document.getElementsByTagName("table")[0];
                if(table.rows.length>1)
                {
                    for(var i=table.rows.length-1;i>=1;i--)
                    {
                        table.deleteRow(i);
                    }
                }
            }
            function update(){
                var select = document.getElementById('haveclass?');
				var option = select.options[select.selectedIndex].text;
                if(option=="Học sinh có lớp")
                {
                    DeleteCurTable();
                    insertDatatoTable(data1);
                }
                else
                {
                    DeleteCurTable();
                    insertDatatoTable(data2);
                }
            }

        </script>

</body>
</html>