.btn {
    color: white;
    text-decoration: none;
    background-color: lightgreen;
    padding: 10px;
    border-radius: 3px;
}

#header h1 {
    text-align: center;
}

.options {
    width: 60%;
    margin: auto;
    text-align: center;
}

.options_row {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.options_row .btn {
    min-width: 180px;
}