{% extends 'studentMan/base.html' %}
{% load static %}
{% block content %}
    <h3 class="label">Bảng điểm môn học</h3>
    <div class="card card-body">
        <form method="get" class="main_form-header row">
            {% csrf_token %}
            {% for m in myFilter.form %}
                {% if  forloop.counter == 1 %}
                    <div class="main_form_class col-lg-3">
                        <div class="row">
                            <div class="main_form_title col-lg-3">
                                <p>Lớp</p>
                            </div>
                            <div class="main_form_select col-lg-6">
                                {{m}}
                            </div>
                        </div>
                    </div>
                {% elif forloop.counter == 2 %}
                    <div class="main_form_subject col-lg-4">
                    <div class="row">
                        <div class="main_form_title col-lg-4">
                            <p>Môn học</p>
                        </div>
                        <div class="main_form_select col-lg-6">
                            {{m}}
                        </div>                                
                    </div>
                </div>
                {% else %}
                    <div class="main_form_term col-lg-3">
                        <div class="row">
                            <div class="main_form_title col-lg-4">
                                <p>Học kì</p>
                            </div>
                            <div class="main_form_select col-lg-6">
                                {{m}}
                            </div>                               
                        </div>
                    </div>
                {% endif %} 
            {% endfor %}
            <div class="main_form_term col-lg-2">
                <div class="row">
                    <button type="submit" class="btn btn-outline-primary col-lg-11">Xem kết quả</button>                              
                </div>
            </div>
        </form>

        <table class="table table-sm">
            <tr>
                <th>STT</th>
                <th>Họ Tên</th>
                <th>Điểm 15'</th>
                <th>Điểm 1 tiết</th>
                <th>Điểm cuối học kì</th>
                <th>Điều chỉnh</th>
            </tr>
            {% for mark in marks %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{mark.student.name}}</td>
                    <td>{{mark.markFifteen}}</td>
                    <td>{{mark.markOne}}</td>
                    <td>{{mark.markFinal}}</td>
                    <td>
                        <a href="{% url 'capNhatDiem' mark.id %}" class="btn btn-primary">Cập nhật</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock content %}
