{% extends 'studentMan/base.html' %}
{% comment %} {% load widget_tweaks %} {% endcomment %}

{% load static %}
{% block content %}

    <h3 class="label">Bảng điểm môn học</h3>
    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    {% csrf_token %}
                    {{myFilter.form}}
                    {% comment %} widget_tweaks để cập nhật frontend {% endcomment %}
                    {% comment %} {{ myFilter.form.direction.label_tag }}
                    {% render_field filter.form.direction class="form-select" %} {% endcomment %}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
            </div>
        </div>
    </div>
    <br>
    {% comment %} <div class="main_form-header row">
        <div class="main_form_class col-lg-3">
            <div class="row">
                <div class="main_form_title col-lg-3">
                    <p>Lớp</p>
                </div>
                <div class="main_form_select col-lg-6">
                    <select class="form-select" aria-label="Default select example">
                            <option>10A1</option>
                            <option>10A2</option>
                            <option>10A3</option>
                            <option>10A4</option>
                            <option>11A1</option>
                            <option>11A2</option>
                            <option>11A3</option>
                            <option>12A1</option>
                            <option>12A2</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="main_form_subject col-lg-4">
            <div class="row">
                <div class="main_form_title col-lg-4">
                    <p>Môn học</p>
                </div>
                <div class="main_form_select col-lg-6">
                    <select class="form-select" aria-label="Default select example">
                            <option>Toán</option>
                            <option>Lý</option>
                            <option>Hóa</option>
                            <option>Sinh</option>
                            <option>Sử</option>
                            <option>Địa</option>
                            <option>Văn</option>
                            <option>Đạo Đức</option>
                            <option>Thể Dục</option>
                    </select>
                </div>                                
            </div>
        </div>
        <div class="main_form_term col-lg-3">
            <div class="row">
                <div class="main_form_title col-lg-4">
                    <p>Học kì</p>
                </div>
                <div class="main_form_select col-lg-6">
                    <select class="form-select" aria-label="Default select example">
                            <option>1</option>
                            <option>2</option>
                    </select>
                </div>                               
            </div>
        </div>
        <div class="main_form_term col-lg-2">
            <div class="row">
                <button type="button" class="btn btn-outline-primary col-lg-11">Xem kết quả</button>                              
            </div>
        </div>
    </div> {% endcomment %}

    <div class="card card-body">
        <table class="table table-sm">
            <tr>
                <th>STT</th>
                <th>Họ Tên</th>
                <th>Điểm 15'</th>
                <th>Điểm 1 tiết</th>
                <th>Điểm cuối học kì</th>
                <th>Điều chỉnh</th>
            </tr>
            {% for mark in marks %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{mark.student.name}}</td>
                    <td>{{mark.markFifteen}}</td>
                    <td>{{mark.markOne}}</td>
                    <td>{{mark.markFinal}}</td>
                    <td>
                        <a href="{% url 'capNhatDiem' mark.id %}" class="btn btn-primary">Cập nhật</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock content %}
