<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Báo Cáo Môn Học</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'baocao/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'baocao/taobaocao.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'baocao/thongtinbaocao.css' %}">

</head>
<body>
    <div class="form">
        <div class="search">
            <div class="search_type">
                <span class="label_select">Học kỳ:</span>
                <select name="" id="attribute">
                    <option>1</option>
                    <option>2</option>
                    <option>Hè</option>
                </select>
            </div>
            <div class="search_type">
                <span class="label_select">Khối:</span>
                <select name="" id="attribute">
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>
            </div>
            <div class="search_type">
                <span class="label_select">Môn:</span>
                <select name="" id="attribute">
                    <option>Toán</option>
                    <option>Lý</option>
                    <option>Hóa</option>
                    <option>Sinh</option>
                    <option>Anh văn</option>
                    <option>Văn</option>
                </select>
            </div>
            <button class="btn">Tìm kiếm</button>
        </div>
        <div class="form">
            <h3 class="label">Báo cáo tổng kết môn:</h3>
            <table class="form_detail">
                <tr>
                    <th>STT</th>
                    <th>Lớp</th>
                    <th>Môn học</th>
                    <th>Sĩ Số</th>
                    <th>Số Lượng Đạt</th>
                    <th>Tỷ Lệ</th>
                </tr>
                <tr>
                    <td class="form_input">1</td>
                    <td class="form_input">10A2</td>
                    <td class="form_input">Toán</td>
                    <td class="form_input">30</td>
                    <td class="form_input">20</td>
                    <td class="form_input">66%</td>
                </tr>
                <tr>
                    <td class="form_input">2</td>
                    <td class="form_input">11A2</td>
                    <td class="form_input">Toán</td>
                    <td class="form_input">34</td>
                    <td class="form_input">34</td>
                    <td class="form_input">100%</td>
                </tr>
            </table>
        </div>
        <a href="new/" class="btn mid_btn">Tạo báo cáo môn học</a>
    </div>
</body>
</html>