{% extends 'studentMan/base.html' %}
{% load static %}
{% block content %}
    <h3 class="label">Danh sách lớp</h3>
    <div class="main_form-header row">
        <div class="main_form_class col-lg-3">
            <div class="row">
                <div class="main_form_title col-lg-3">
                    <p>Lớp</p>
                </div>
                <div class="main_form_select col-lg-6">
                    <select class="form-select" aria-label="Default select example">
                            <option>10A1</option>
                            <option>10A2</option>
                            <option>10A3</option>
                            <option>10A4</option>
                            <option>11A1</option>
                            <option>11A2</option>
                            <option>11A3</option>
                            <option>12A1</option>
                            <option>12A2</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="main_form_term col-lg-2">
            <div class="row">
                <button type="button" class="btn btn-outline-primary col-lg-11">Xem kết quả</button>                              
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>STT</th>
            <th>Họ tên</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Email</th>
            <th>Địa chỉ</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Đỗ Lê Khánh Đăng</td>
            <td>1/1/2001</td>
            <td>Nam</td>
            <td>khanhdang@gmail.com</td>
            <td>10, đường 01, quận 1, tp HCM</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Nguyễn Đắc Thắng</td>
            <td>11/11/2001</td>
            <td>Nam</td>
            <td>dacthang@gmail.com</td>
            <td>10, đường 11, quận 11, tp HCM</td>
        </tr>
    </table>

    <div class="card card-body">
        <form method="get" class="main_form-header row">
            {% csrf_token %}
            {% for m in myFilter.form %}
                {% if  forloop.counter == 1 %}
                    <div class="main_form_class col-lg-3">
                        <div class="row">
                            <div class="main_form_title col-lg-3">
                                <p>Lớp</p>
                            </div>
                            <div class="main_form_select col-lg-6">
                                {{m}}
                            </div>
                        </div>
                    </div>
                {% elif forloop.counter == 2 %}
                    <div class="main_form_subject col-lg-4">
                    <div class="row">
                        <div class="main_form_title col-lg-4">
                            <p>Môn học</p>
                        </div>
                        <div class="main_form_select col-lg-6">
                            {{m}}
                        </div>                                
                    </div>
                </div>
                {% else %}
                    <div class="main_form_term col-lg-3">
                        <div class="row">
                            <div class="main_form_title col-lg-4">
                                <p>Học kì</p>
                            </div>
                            <div class="main_form_select col-lg-6">
                                {{m}}
                            </div>                               
                        </div>
                    </div>
                {% endif %} 
            {% endfor %}
            <div class="main_form_term col-lg-2">
                <div class="row">
                    <button type="submit" class="btn btn-outline-primary col-lg-11">Xem kết quả</button>                              
                </div>
            </div>
        </form>

        <table class="table table-sm">
            <tr>
                <th>STT</th>
                <th>Họ tên</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Email</th>
                <th>Địa chỉ</th>
            </tr>
            {% for student in students %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{student.name}}</td>
                    <td>{{student.dateOfBirth}}</td>
                    <td>{{student.sex}}</td>
                    <td>{{student.email}}</td>
                    <td>{{student.address}}</td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <a href="{% url 'lapDSLop' %}" type="button" class="btn btn-outline-primary" >Lập danh sách lớp</a> 
    </div>
    </div>
{% endblock content %}