<!DOCTYPE html>
<html>
    <head>
        <title>Tiếp nhận học sinh</title>
        <style>
            table td{
                padding: 5px 10px;
            }
            input, select{
                border: solid 1px #ddd;
                padding: 5px 20px;
                width: 100%;
            }
            select{
                width: 180px;
            }
            input[type="submit"]{
                width: auto;
                background: blue;
                color:#fff;
         
            }
        </style>
    </head>
    <body>
        <h1>Tiếp nhận học sinh</h1>
        <h2>Biểu mẫu 1</h2>
        <form method="" action="">
        <table>
            <tr>
                <td>
                    Họ tên:
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>
                    Ngày sinh:
                </td>
                <td>
                    <input type="text">
                </td>
            </tr>
            <tr>
                <td>Giới tính:</td>
                <td><select>
                    <option>Nam</option>
                    <option>Nữ</option>
                </select></td>
            </tr>
            <tr>
                <td>Địa chỉ:</td>
                <td><input type="text"></td>
            </tr>
             <tr>
                 <td>Email:</td>
                 <td><input type="text"></td>
             </tr>
             <tr>
                 <td></td>
                 <td>
                     <input type="submit" value="Tiếp nhận học sinh">
                 </td>
             </tr>     
        </table>
        </form>
    </body>
</html>