{% extends 'studentMan/base.html' %}
{% load static %}
{% block content %}

    <h3 class="label">Tra cứu học sinh</h3>
    <div class="main_form-header row">
        <div class="main_form_class col-lg-5">
            <div class="row">
                <div class="main_form_title col-lg-2">
                    <p>Tên</p>
                </div>
                <div class="main_form_select col-lg-7">
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>

        <div class="main_form_class col-lg-3">
            <div class="row">
                <div class="main_form_title col-lg-3">
                    <p>Lớp</p>
                </div>
                <div class="main_form_select col-lg-6">
                    <select class="form-control" id="exampleFormControlSelect1">
                            <option>10A1</option>
                            <option>10A2</option>
                            <option>10A3</option>
                            <option>10A4</option>
                            <option>11A1</option>
                            <option>11A2</option>
                            <option>11A3</option>
                            <option>12A1</option>
                            <option>12A2</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="main_form_term col-lg-2">
            <div class="row">
                <button type="button" class="btn btn-outline-primary col-lg-11">Tìm kiếm</button>                              
            </div>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Họ tên</th>
            <th>Lớp</th>
            <th>TB Học Kỳ 1</th>
            <th>TB Học Kỳ 2</th>
        </tr>
         {% for index in marks %}
             {% if index.semester_mark == '1' %}
                 <tr>
                <th>{{ forloop.counter }}</th>
                <th>{{ index.student.name }}</th>
                <th>{{ index.student.classOfSchool }}</th>
                 <th>{{ index.markFinal }}</th>
                  {% for index_2 in marks %}
                               {% if index_2.semester_mark == '2' and index_2.id == index.id %}
                                   <th>{{ index_2.markFinal }}</th>
                               {% endif %}
                  {%  endfor %}
            </tr>
            {% endif %}
         {%  endfor %}

    </table>
{% endblock content %}