{% extends 'studentMan/base.html' %}
{% load static %}
{% block content %}

    <h3 class="label">Tra cứu học sinh</h3>
    <table class="table">
        <tr>
            <th>STT</th>
            <th>Họ tên</th>
            <th>Lớp</th>
            <th>TB Học Kỳ 1</th>
            <th>TB Học Kỳ 2</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Đỗ Lê Khánh Đăng</td>
            <td>10A1</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Nguyễn Minh Tú</td>
            <td>10A1</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Lục Minh Bửu</td>
            <td>10A1</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Ngô Hữu Đang</td>
            <td>10A1</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>5</td>
            <td>Nguyễn Đắc Thắng</td>
            <td>10A1</td>
            <td>10</td>
            <td>10</td>
        </tr>
    </table>
{% endblock content %}