<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="with=device-width, intial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
</head>

<body>

    <h1>Danh sách học sinh </h1>
    <table class="table">
        <tr>
            <th>Họ tên</th>
            <th>Lớp:</th>
            <th>TB Học Kỳ 1</th>
            <th>TB Học Kỳ 2</th>
        </tr>
        <tr>
            <td>Đỗ Lê Khánh Đăng</td>
            <td>10A1</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Nguyễn Minh Tú</td>
            <td>10A1</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Lục Minh Bửu</td>
            <td>10A1</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Ngô Hữu Đang</td>
            <td>10A1</td>
            <td>10</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Nguyễn Đắc Thắng</td>
            <td>10A1</td>
            <td>10</td>
            <td>10</td>
        </tr>
    </table>

</body>
</html>